.extraspace{
  height:50px;
}

.extraspace2{
  height:225px;
}

.extraspace3{
  height:5px;
}

.extraspace4{
  height:40px;
}

.extraspace5{
  height:20px;
}

.fontsite {
font-family: Georgia, serif;
font-size: 16px;
} 

.span4 {
	min-width: 200px;
	max-width: 200px;
}

.span8 {
	min-width: 500px;
	max-width: 500px;

}

.container-fluid {
	min-width: 1000px;
	max-width: 1000px;
	float:none;
	margin:0 auto;
}

body {
font-family: Georgia, serif;
background-color: #282828;
} 

div.container-fluid {
background-color: #FFFFFF;
}

.chooser-center-container{
  vertical-align:top;
}

ul.ColVis_collection {
  width:250px;
  margin-left:-110px;
}

tr {
  height:50px;
}

#dataTables_scrollBody {
  margin-top:50px!important;
  height:50px!important;
  overflow:'visible'!important;
  z-index:-15!important;
}
#dataTables_scrollHead {
  margin-bottom:50px!important;
  height:100px!important;
  overflow:'visible'!important;
  z-index:15!important;
}

.datatable-scroll {
    overflow-x: auto;
    overflow-y: visible;
}
